.table {
  border: 2px solid black;
}

.table td {
  border-top: 0;
  border-left: 2px solid black;
}

.table thead th {
  border-bottom: 0;
  border-left: 2px solid black;
}

.table-bordered td {
  border-color: black;
  border-top: 0;
}

.average-box {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
